//Justify content
@mixin flex ($direction) {
    display: flex;
    flex-direction: row;

    @if $direction =="center" {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    @else {
        justify-content: space-between;
        align-items: center;

    }
}