//Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
    font-size: 100%;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
}